.schedule-page {
    display: flex;
    align-items: center;  
    width: 100%;
    flex-direction: column;
}

.schedule-main {
    position: relative;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    color: #fdedb9;
}

.schedule-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../assets/images/papyrus_rotated.png");
    background-size: 100% 100%; 
    mix-blend-mode: multiply;
    z-index: 0; 
}
 

.container {
    font-family: "CenturyPSPro", serif;
}

.schedule {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.schedule thead {
    background-color: #012049;
    border: 2px solid rgb(40, 54, 72);
}

.schedule th {
    background-color: #366bbf9f;
    color: #fdedb9;
    padding: 8px;
}

.schedule td {
    padding: 8px;
    text-align: center;
    font-family: "CenturyPSPro", serif;
    color: #fdedb9;
    border: 2px solid #fdedb9;
}
 
.schedule td:before {
    font-weight: bold;
    text-align: left;
    display: block;
}

@media screen and (max-width: 1000px) {
    .schedule {
        width: 100vw;
        height: auto;
    }
    .schedule .tbody tr td {
        text-decoration: none;
        display: inline-block;
        font-weight: medium;
        color: #ffeaf1;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        opacity: 1;
    }
}

@media screen and (max-width: 1023.5px) {
    .schedule-container {
        margin: 40px auto 0;
        display: block;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin: 0 auto;
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media screen and (max-width: 450px) {
    .schedule {
        position: relative;
    }
    .schedule thead tr th {
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.3px;
        color: #ffffff;
        opacity: 1;
        padding: 8px;
        vertical-align: top;
        border: 1px solid #ffffff;
    }
    .schedule tbody tr td {
        font-size: 10px;
        letter-spacing: 0.3px;
        font-weight: normal;
        color: #ffeaf1;
        background-color: transparent;
        padding: 8px;
        text-align: center;
        border: 1px solid #ffffff;
    }
}
 
.schedule::-webkit-scrollbar {
    width: 10px;
}

.schedule::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.schedule::-webkit-scrollbar-thumb {
    background: #888;
}

.schedule::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.schedule th,
.schedule td {
    font-size: 16px; 
}

.schedule th {
    letter-spacing: 0.1em;
}
