@font-face {
  font-family: "CenturyPSPro-Bold";
  src: url("../../assets/font/century-font/CenturyPSPro-Bold.eot"); /* IE9 Compat Modes */
  src: url("../../assets/font/century-font/CenturyPSPro-Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../assets/font/century-font/CenturyPSPro-Bold.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../assets/font/century-font/CenturyPSPro-Bold.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("../../assets/font/century-font/CenturyPSPro-Bold.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}

.bold-century {
  font-family: "CenturyPSPro-Bold", sans-serif;
  font-weight: bold;
}

.login-img {
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.row {
  display: flex;
}

.image-column {
  display: flex;
  align-items: stretch; /* Make the image column take up full height */
}

.image-column img {
  height: 100%; /* Make the image height fill its container */
  object-fit: cover; /* Preserve aspect ratio while covering the entire container */
}

.center-h {
  padding-left: 20rem;
  padding-right: 20rem;
}

.register-bg {
  background-color: white;
  height: fit-content;
}

.register-container {
  min-height: 100vh;
  max-height: fit-content;
  position: relative;
  margin: 0;
}

.form-line {
  padding-bottom: 0.5rem;
}

.title-center {
  text-align: center;
}

.already-register {
  font-size: 0.9rem;
}

.error-message {
  font-size: 0.9rem;
  color: red;
}

@media (max-width: 1300px) {
  .center-h {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

@media (max-width: 1025px) {
  .center-h {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 767px) {
  .center-h {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}