.login-button {
  display: flex;
  width: 100%;
  height: 46px;
  padding: 15px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  background: #052b56;
  color: white;
}

.login-input {
  width: 100%;
  height: 46px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
