.gallery-p {
    color: #db841a;
}

.custom-carousel-control {
    width: 100px;
    height: 100px;
    margin: 0px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px;
    height: 50px;
}

.carousel-control-prev.custom-carousel-control {
    left: -100px;
}

.carousel-control-next.custom-carousel-control {
    right: -100px;
}

/* .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    color: #052b56;
}

.section {
    max-width: 100vw;
    height: auto;
    margin: 0 auto;
    margin-bottom: 5rem;
    z-index: 9999;
}

.gallery-color {
    color: #052b56;
}
.gallery-p {
    color: #073e7d;
}

.carousel-item img {
    max-height: auto;
    max-width: 100%;
    object-fit: contain;
    margin: auto;
}

.custom-carousel-control {
    width: 100px;
    height: 100px; 
    margin: 0px 0px; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px; 
    height: 50px; 
}

.custom-carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

.carousel-control-prev.custom-carousel-control {
    left: -100px; 
}

.carousel-control-next.custom-carousel-control {
    right: -100px;
}

.carousel-inner {
    position: relative;
}

.carousel-item .row {
    height: 100%;
    align-items: center;
} */
