:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #6e1d00;
  overflow: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
  overflow: hidden;
}

/* For Webkit browsers like Chrome, Safari, etc. */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #062b56; /* Color for the scrolling line */
}

::-webkit-scrollbar-thumb {
  background-color: #c4ab56; /* Color for the little scroller */
  border-radius: 6px; /* Optional: adds rounded corners to the scrollbar thumb */
  border: 3px solid #062b56; /* Optional: adds a border around the scrollbar thumb */
}

/* For Firefox */
* {
  scrollbar-width: auto; /* 'auto' or 'thin' */
  scrollbar-color: #c4ab56 #062b56; /* thumb and track colors */
}

/* For IE and Edge */
* {
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Optional: only show scrollbar when scrolling */
}
