.sponsors {
    width: about;
    height: 400px;
    /* background-color: rgba(246, 197, 71, 0.561); */
}
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 1rem));
    }
}
/* .partners_logo_wrapper{
    margin: 0px 10px;
} */

.marquee_content {
    width: 100%;
    animation: scroll 30s linear infinite;
}

.reverse {
    animation-direction: reverse;
}

@media (prefers-reduced-motion: reduce) {
    .marquee_content {
        animation-play-state: paused;
    }
}
